table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
}
th, td {
  padding: 15px;
  text-align: left;
}
  .error{
    margin-left : 1rem;
    color : red
  }
  .success {
    color: green;
  }
  input[type=text] {
    width: 90%;
    padding: 7px;
    border: 1px solid black;
    border-radius: 4px;
    resize: vertical;
  }
  .moviename {
    background: cadetblue;
    padding: 7px;
    color: blue;
  }
  .submit{
    background-color: aqua;
    border-radius: 7px;
    border: 0px;
    margin-left: 1rem;
    color: #1f0000;
    padding: 1% 1.5em;
    text-decoration: none;
    text-transform: uppercase;
  }
  .link {
    background-color: red;
      box-shadow: 0 5px 0 darkred;
      color: white;
      padding: 1% 1.5em;
      text-decoration: none;
      text-transform: uppercase;
    }
    
    .link:hover {
      background-color: #ce0606;
    }
    
    .link:active {
      box-shadow: none;
      top: 5px;
    }
    
    /* Non-Demo Styles */
    body .maindiv {
      display: flex;
      margin-top: 2rem;
      justify-content: center;
      align-items: center;
    }